In [6]:
import pandas as pd
df = pd.read_csv("population_by_country_2020.csv")

east_asia = df[df["Country"].isin(["China", "South Korea", "North Korea", "Macau", "Hong Kong", "Tibet", "Taiwan", "Japan", "Mongolia"])]

east_asia

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
10,Japan,126407422,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
27,South Korea,51276977,0.09 %,43877,527,97230,11731.0,1.1,44,82 %,0.66 %
53,North Korea,25798588,0.44 %,112655,214,120410,-5403.0,1.9,35,63 %,0.33 %
56,Taiwan,23824369,0.18 %,42899,673,35410,30001.0,1.2,42,79 %,0.31 %
103,Hong Kong,7507523,0.82 %,60827,7140,1050,29308.0,1.3,45,N.A.,0.10 %
135,Mongolia,3287242,1.65 %,53123,2,1553560,-852.0,2.9,28,67 %,0.04 %

In [7]:
east_asia.describe()

,Population (2020),Net Change,Density (P/Km²),Land Area (Km²),Migrants (net)
count,7.000000e+00,7.000000e+00,7.000000,7.000000e+00,7.000000
mean,2.397714e+08,7.813759e+05,1293.714286,1.651489e+06,-30293.428571
std,5.310264e+08,2.105116e+06,2587.920640,3.454906e+06,142598.157794
min,3.287242e+06,-3.838400e+05,2.000000,1.050000e+03,-348399.000000
25%,1.566595e+07,4.338800e+04,183.500000,6.632000e+04,-3127.500000
50%,2.579859e+07,5.312300e+04,347.000000,1.204100e+05,11731.000000
75%,8.884220e+07,8.674100e+04,600.000000,9.590575e+05,29654.500000
max,1.440298e+09,5.540090e+06,7140.000000,9.388211e+06,71560.000000